@include parallax-init;
@include font-face(Paintdrp, /fonts/Paintdrp);

.parallax {
    @include background("Background.jpeg", $position: center top, $attachment: fixed);
    @include parallax(0);    
    position: relative;
    top: 0;
	height: 120vh;
    width: 100vw;
    
    .parallax-text{
        position: absolute;
        top: 10vw;
        left: 29vw;        
        
        h1{
            @include calc-font-size($min-size, $max-size, $min-vw, $max-vw);
            font-family: $la-belle-aurore;
			font-weight: 600;
			font-style: italic;
            position: relative;
        }
        
        h1 + h1 {
            top: 1em;
            left: 21vw;
        }
        
    }
}
