@import 'assets/_mixins.scss';
@import "parallax";
@import 'navbar';

.menu-open {
    overflow-y: hidden;
}

.content {
    margin: 5% 20%;
    background: gray;
}

.image-wrapper {
    width: 100%;
    height: 50%;
}

body {
    background-color: #cdc0b0;
    overflow-x: hidden;

    header {
        top: 0px;
        position: sticky;
        z-index: 105;
    }



    .wrapper {
        position: absolute;
    }

    .transparent {
        opacity: 0 !important;
    }

    .videoWrapper {
        margin: 2em;
        padding-left: 25%;
    }

}
