@import 'assets/_mixins.scss';
@import "parallax";
@import 'navbar';


body {
    background-color: #cdc0b0;

    header {
        top: 0px !important;
        position: fixed;
        z-index: 105;
    }

.wrapper {
    position: absolute;
}

.transparent {
    opacity: 0 !important;
}

.videoWrapper {
    margin-top: 80%;
    padding-left: 25%;
}

}