@font-face {
	font-family: 'Saros';
	src: url(../fonts/Saros-Regular.ttf);
}

@font-face {
	font-family: 'NimbusSansRegular';
	src: url(../fonts/NimbusSanL-Reg.otf);
}

@font-face {
	font-family: 'NimbusSansRegularItalic';
	src: url(../fonts/NimbusSanL-Reltag.otf);
}

@font-face {
	font-family: 'NimbusSansBold';
	src: url(../fonts/NimbusSanL-Bol.otf);
}

@font-face {
	font-family: 'NimbusSansBoldItalic';
	src: url(../fonts/NimbusSanL-BolIta.otf);
}

$whiteColor: #ffffff;


html {
	overflow-y: scroll;
}

/* Back to Top styling*/



@media screen and (max-width: 991px) {
	.backToTop {
		position: fixed;
		text-align: right;
		bottom: 30px;
		right: 0px;
		z-index: 99;
		font-size: 20px;
		border: none;
		outline: none;
		color: white;
		cursor: pointer;
		padding: 15px;
		border-radius: 4px;
	}
}

/*Body styling*/

body {
	background-color: #F3EDE0;
}

/*body:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #d2b48c;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body{
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    height: 100%;
}*/

#name {
	color: white;
	font-size: 32px;
}

h1 {
	color: white;
	font-weight: 600;
	font-size: 26px;
	margin-left: 0px;
}

h2 {
	color: white;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9*/
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 991px) {
	.videoWrapper {
		overflow: hidden;
		position: relative;
		height: 0;
	}
}

.videoContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

@media screen and (max-width: 991px) {
	.videoContent {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.headerContainer {}

h3 {
	font-family: "Saros";
	color: white;
	font-weight: 700;
	margin-top: 0;
	text-align: center;
}

#aboutMe {
	border-bottom: 3px solid white;
}

.category {
	color: white;
	font-family: "Saros";
	font-size: 22px;
	text-align: left;
}

.category-name {
	font-family: "Saros";
	font-size: 16px;
	color: white;
	padding-bottom: 0;
}

.category-role {
	color: lightgrey;
	font-family: "Saros";
	font-size: 16px;
	font-style: italic;
}

.panel-body {
	background-color: #4b5059;
	border-color: none;
}

.textFont {
	color: white;
	font-family: "Saros";
	font-size: 16px;
	padding-top: 0px;
	display: block;
	align-content: center;
}

.text-measurements {
	color: white;
	font-family: "Saros";
	font-size: 16px;
	padding-top: 30px;
	display: block;
	align-content: center;
	text-align: center;
}

.content {
	margin: 5% 20%;
}

@media only screen and (max-width : 768px) {
	.content {
		margin: 5% 10%;
	}
}

.parallax-window {
	min-height: 1200px;
	background: transparent;
}

#coverImage {
	width: 50%;
	height: 130%;
	position: absolute;
	text-align: center;
	background-size: cover;
	z-index: -10;
}

#landingPage {
	margin: 0;
	height: 100%;
	overflow-y: hidden;
}

#landingPageText {
	font-family: "Saros";
	font-size: 28px;
	letter-spacing: 1px;
}

.quote {
	display: inline;
}

@media only screen and (max-width : 600px) {
	.quote {
		display: block;
	}
}

.container {
	width: 100%;
	text-align: left;
	margin: 5px;
	margin-left: 1s00px;
	margin-right: 200px;
}


.container-fluid {}


img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 5px;
	align-content: center;
}

.maxHeightDiv {
	height: 43rem;
}

@media only screen and (max-width : 768px) {
	.maxHeightDiv {
		height: 30rem;
	}
}

.col-lg-3 {
	padding: 5px 5px;
	flex: 25%;
	max-width: 25%;
}

.theatreHeader {
	font-family: "Saros";
	text-align: center;
	font-size: 48px;
	color: azure
}

.col-lg-3 {
	align-content: center;
}

.vertical-line {
	border-left: 2px solid white;
	height: 100px;
}

@media only screen and (max-width : 768px) {
	.vertical-line {
		border-left: none;
		border-top: 2px solid white;
		height: 100px;
	}
}


.img-tall {
	height: 100%x;
	width: 90%
}

.img-wide {
	max-height: 35rem;
	max-width: 100%;
	align-content: center;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-contact {
	height: 70%;
	width: 100%;
}

.form-group label {
	color: white;
}
