//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Cedarville+Cursive|Permanent+Marker|Gloria+Hallelujah|La+Belle+Aurore|Rouge+Script&display=swap');

//Fonts
$permanent-marker: 'Permanent Marker';
$gloria-hallelujah: 'Gloria Hallelujah', cursive;
$calligraffitti: 'Calligraffitti', cursive;
$cedarville-cursive: 'Cedarville Cursive', cursive;
$la-belle-aurore: 'La Bella Aurore', cursive;
$rouge-script: 'Rogue Script', cursive;

//Font Size
$min-size: 20px;
$max-size: 48px;
$min-vw: 300px;
$max-vw: 1600px; 
	
//Image Locations
$path--img: "../images";

//Navbar

$blackColor: #FFF;

//Parallax

$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;
