//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

//Fonts
$permanent-marker: 'Permanent Marker';

//Image Locations
$path--img: "../images";

//Navbar

$blackColor: #FFF;

//Parallax

$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;

