//Image Locations
$img-background: "../images/Background.jpeg";

//Navbar

$blackColor: #020304;

//Parallax

$parallax-perspective: 1 !default;
$parallax-element: "body" !default;
$parallax-ios: true !default;


//Ima
